<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</head>
<body>
<h1 class="page_heading">Serges Manga Bookshelf</h1>

<div class="top_part">
<div id="add_manga" class="page_intro">
    <form action="/add_manga" method="POST">
        <label for="manga_chosen">Which manga would you like to add?</label>
        <input type="text" id="manga_chosen" onkeyup="show_results()" name="manga_chosen" value="{{ manga_chosen }}" placeholder="search name">
        <input type="hidden" id="selected_index" name="selected_index">
        <input id="submit_button" class="submit_button" type="submit" value="Submit">
    </form>

</div>
</div>

<div>
<ul class="alert">
{% for message in get_flashed_messages() %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
</div>

<div id="displayResults" class="displayResults" onclick="setIndex(event)">

</div>


<div>
    <ul class="manga_container">
        {% if manga_list %}
            {% for manga in manga_list %}
            <div class="card">
                {% if manga.id %}
                        {% if manga.filename %}
                        <a href="https://mangadex.org/title/{{manga.id}}/{{manga.title}}">
                        <img class="card" src="https://uploads.mangadex.org/covers/{{manga.id}}/{{manga.filename}}.256.jpg" alt="{{manga.title}} cover art">
                        </a>
                        {% endif %}
                    <li>{{manga.title}}</li>
                    <li>{{manga.year}}</li>
                    <li>{{manga.rating}}</li>
                    <li>Author : {{manga.author}}</li>
                    <div id="{{manga.id}}" class="manga_description">
                    <li>{{manga.description}}</li>
                    </div>
                    <button onclick="show_description('{{manga.id}}')">Show Description</button>
                    <a class="btn" href="/del_manga/{{manga.id}}">Delete</a>
                {% endif %}
            </div>
            {% endfor %}
        {% endif %}
    </ul>
</div>
</body>
</html>